$color-primary: #00E58B;
$color-accent: #00BDBD;
$color-warn: #f00;
$color-shade: #f6f6f6;
$color-dark: #687478;
$color-background: #fff;

@mixin scale($rate) {
    -webkit-transform: scale($rate);
    -moz-transform: scale($rate);
    -o-transform: scale($rate);
    -ms-transform: scale($rate);
    transform: scale($rate);
}

/* main */
@import 'main';

/* header */
@import 'header';

/* sale section */
@import 'sale';